<style>
  th{
    background-color: #337AB7;
    color: white;
  }
</style>

<br />
<table class="mdl-data-table table-bordered table table-striped cell-border" >
  <thead>
    <tr >
      <th>Student Name</th>
      <th>Student ID</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <% @students_ids.each do |value| %>
        <td><%= @students[value]["student_name"] %></td>
        <td><%= value %></td>
      <% end %>
    </tr>
  </tbody>
</table>
