<style>
  th{
    background-color: #337AB7;
    color: white;
  }
</style>
<section class="content-header">
  <h1>List of students in hall <%= params[:hall] %> during <%= params[:course_name] %> exam:</h1>
  <br />
  <table class="mdl-data-table table-bordered table table-striped cell-border" >
    <thead>
      <tr >
        <th class="col-xs-6">Student Name</th>
        <th class="col-xs-6">Student ID</th>
      </tr>
    </thead>
    <tbody>
        <% @students_ids.each do |value| %>
        <tr >
          <td><%= @students[value]["student_name"] %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</section>
