<div class="row" style="padding: 12vh 8% 0 8%">

  <!-- Show all students -->
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
      <div class="panel panel-primary text-center " style="border: none;">
          <div class="panel-body" style="padding-bottom: 7vh; padding-top: 7vh;">
            <i class="fa fa-graduation-cap fa-5x" style="color: #F39C12;"></i>
          </div>
          <div class="panel-footer" style="background-color: #F39C12;">
            <a href="/students" style="text-decoration: none; color:white">Check Registration</a>
          </div>
      </div>
  </div>

  <!-- Add Grades -->
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
      <div class="panel panel-primary text-center " style="border: none;">
          <div class="panel-body" style="padding-bottom: 7vh; padding-top: 7vh;">
              <i class="fa fa-edit fa-5x" style="color: #F39C12;"></i>
          </div>
          <div class="panel-footer" style="background-color: #F39C12;">
            <a href="/grades" style="text-decoration: none; color:white">Add Grades</a>
          </div>
      </div>
  </div>

  <!-- View Exams -->
  <div class="col-md-4 col-sm-12 col-xs-12 text-center">
      <div class="panel panel-primary text-center " style="border: none;">
          <div class="panel-body" style="padding-bottom: 7vh; padding-top: 7vh;">
              <i class="fa fa-file-text-o fa-5x" style="color: #F39C12;"></i>
          </div>
          <div class="panel-footer" style="background-color: #F39C12;">
            <a href="/final_results" style="text-decoration: none; color:white">Final Results</a>
          </div>
      </div>
  </div>

</div>
